.title-bar {
    background: $header-bg;
    color: $header-color;
}

.title-bar__content {
    align-items: center;
    padding-top: $space;
    display: flex;
    height: $header-height;
    flex-direction: row;
    justify-content: space-between;
    max-width: $site-max-width;
    margin: 0 auto;
}

.header__nav-toggle {
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    @include desktop {
        display: none;
    }
}